services:
  # # --------------------------------------------------
  forge:
    image: onelevelstudio/imagen:forge
    runtime: nvidia
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: [gpu]
    build:
      context: ./forge
      dockerfile: Dockerfile
    ports:
      - "1234:1234"
  # # --------------------------------------------------
  comfy:
    image: onelevelstudio/imagen:comfy
    runtime: nvidia
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: [gpu]
    build:
      context: ./comfy
      dockerfile: Dockerfile
    ports:
      - "4321:4321"
  # # --------------------------------------------------
  forge-cpu:
    image: onelevelstudio/imagen:forge-cpu
    build:
      context: ./forge-cpu
      dockerfile: Dockerfile
    ports:
      - "1234:1234"
  # # --------------------------------------------------
  comfy-cpu:
    image: onelevelstudio/imagen:comfy-cpu
    build:
      context: ./comfy-cpu
      dockerfile: Dockerfile
    ports:
      - "4321:4321"
  # # --------------------------------------------------
  remjx:
    image: onelevelstudio/imagen:remjx
    runtime: nvidia
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: [gpu]
    build:
      context: ./remjx
      dockerfile: Dockerfile
    ports:
      - "1234:1234"
      - "4321:4321"
  # # --------------------------------------------------